<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

   <title>{{ page.title }}</title>
   <meta name="author" content="{{ site.author.name }}" />
   <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="your title" type="application/atom+xml" />

   <!-- Included CSS Files -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/foundation.css">
   <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/app.css">

   <!--[if lt IE 9]>
   <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/ie.css">
   <![endif]-->

   <script src="{{ ASSET_PATH }}/javascripts/modernizr.foundation.js"></script>

   <!-- IE Fix for HTML5 Tags -->
   <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

   <! -- Fonts =-->
   <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT" media="screen, projection, print">
</head>
<body>
	<!-- container -->
	<div class="container">
    <header class="row">
      <div class="twelve columns">
        <a href="{{ HOME_PATH }}" title="Home">
          <img src="{{ ASSET_PATH }}/images/logo.png" alt="Logo" title="{{site.title}}" />
        </a>
      </div>

      <nav id="main" class="row">
        <ul class="nav-bar">
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.about_path }}" class="main">EN / About</a>
          </li>
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.about_path }}" class="main">EN / Articles</a>
          </li>
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.about_path }}" class="main">NL / Over</a>
          </li>
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.about_path }}" class="main">NL / Artikelen</a>
          </li>
        </ul>
        </nav>
    </header>

    <section id="main-content" class="row">
      {{ content }}
    </section>

    <footer class="main row">
      <div class="contact four columns">
        <p>
            {{ site.author.name }}<br />
            {{ site.tagline }}<br />
            <a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a>
          </p>
          <p>
            <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
            <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
          </p>
      </div>
      <div class="four columns">
        Copyright 2001-{{ site.time | date: "%Y" }}
        with a
        <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Atrribute-Share-alike 3.0 Unported license</a>
      </div>
      <div class="four columns">
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a> <br />
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.pages_path }}">Pages</a> <br /> 
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.categories_path }}">Categories</a> <br />
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.tags_path }}">Tags</a> <br />
        <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}"> RSS </a> <br />
      </div>
      </div>
    </div>
  </div>
  {% include JB/analytics %}
</body>
</html>
