---
layout: default
# Override to allow custom image.
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header> 
  <div class="body row">
    <div class="eight columns">
      {{ content }}
    </div>
    <div class="four columns">
    <figure class="decorative">
      <img src="/images/{{ page.id }}.png" alt="Example of the feature" />
    </figure>
    </div>
  </div>
  <footer>
    <time datetime="{{ page.date | date_to_xmlschema }}"
    pubdate="pubdate">
      Posted on {{ page.date | date_to_long_string }}
    </time>
    in
    {% if page.location %}{{ page.location }}{% endif %}
    {% unless page.tags == empty %}
      {% assign tags_list = page.tags %}
      {% include tags_list.yml %}
    {% endunless %}
  </footer>
</article>

{% include about_author.yml %}
{% include related.yml %}
