---
layout: default
---
<div id="post" class="row">
  <div class="six columns">
    <figure>
      {% if page.lang == "nl" %}
        <img src="/images/inline/ber_kessels.png" alt="Zwartwit portret van Bèr Kessels"/>
        <figcaption>Door <a href="https://fotomaurits.nl">Maurits van Ravesteijn</a>. Voor onze <a href="http://annaenber.nl/">Trouwfoto's</a></figcaption>
      {% else %}
        <img src="/images/inline/ber_kessels.png" alt="Black and White portrait of Bèr
  Kessels"/>
        <figcaption>By <a href="https://fotomaurits.nl">Maurits van Ravesteijn</a>. From our <a href="http://annaenber.nl/">Weddingpictures</a></figcaption>
      {% endif %}
    </figure>
  </div>
  <div class="six columns">
    {{ content }}
  </div>
</div>
