.highlight {
  background-color: transparent;
}
.container,
p {
  font-family: 'Arvo', serif;
  font-size:1.4rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "OFL Sorts Mill Goudy TT", serif;
}
article .body ul {
  list-style-type: circle;
}
article .body li {
  margin-left: 1em;
}
article .body q, article .body blockquote {
  padding: 0 10px;
  quotes: "«" "»";
}
article .body q p:before, article .body blockquote p:before {
  content: '«';
}
article .body q p:after, article .body blockquote p:after {
  content: '»';
}
article .body strong {
  font-weight: bold;
}
article .body em {
  font-style: italic;
}
article figure {
  margin: 0 0 1em 0;
}
article figure figcaption {
  margin: 0 1em;
  color: #cfcdcd;
  text-align: right;
}
article footer {
  margin-top: 30px;
  padding-top: 52px;
  /** 22px for the swallow, 30 for whitespace **/
  background: transparent url("/asse/assets/images/swallow_black_hr.png") no-repeat scroll top center;
}
article pre {
  border: 1px solid #cfcdcd;
  display: block;
  font-family: Monaco, Andale Mono, Courir New, monospace;

  padding: 1.3rem;
  margin: 0 1em 1em 1em;

  white-space: pre-wrap;
  word-wrap: break-word;
}
code {
  font-family: Monaco, Andale Mono, Courir New, monospace;
  background-color: #eee;
}
p code {
  padding: 1px 5px;
}
/***************************************************************************
 *                                  GRID                                   *
 ***************************************************************************/
@media only screen and (min-width: 767px) {
  article .content {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -moz-column-gap: 42px;
    -webkit-column-gap: 42px;
    -o-column-gap: 42px;
    column-gap: 42px;
  }
}
/***************************************************************************
 *                                  Tags                                   *
 ***************************************************************************/
.label {
  position:relative;
}
.label .size {
  position:absolute;
  top:-4px;
  right:-4px;
  background-color:#fff;
  color:#000;
  padding:2px;
  font-family:tahoma, arial, 'sans-serif';
  font-size:9px;
  font-weight:bold;

  border: 1px solid #000;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.label:hover .size {
  display:none;
}

/***************************************************************************
 *                               NAVIGATION                                *
 ***************************************************************************/
nav#main ul li {
  display: inline;
  white-space: nowrap;
}
nav#main {
  background: transparent url("/assets/images/header_pretty.png") repeat-x scroll top right;
}
nav#main .onion {
  background: transparent url("/assets/images/header_pretty.png") repeat-x scroll bottom right;
}
nav#main ul {
  list-style: none;
  text-align: center;
  border: 0;
  padding: 20px 0 10px 0;
}
nav#main a {
  font-size: 2em;
  font-family: "OFL Sorts Mill Goudy TT", serif;
  color: #cfcdcd;
  padding: 0 33px;
  text-decoration: none;
}
nav#main a.active, nav#main a:hover {
  background: transparent url("/assets/images/pointing_hand.png") no-repeat scroll 0px 8px;
  color: #212121;
}
@media only screen and (max-width: 767px) {
  nav#main ul li {
    display: block;
    float: none;
    width: 100%;
  }
  nav#main ul li a {
    display: block;
    float: none;
    width: 100%;
  }
}

/***************************************************************************
 *                                 FOOTER                                  *
 ***************************************************************************/
footer.main {
  margin-top: 30px;
  padding-top: 52px;
  /** 22px for the swallow, 30 for whitespace **/
  background: transparent url("/assets/images/swallow_black_hr.png") no-repeat scroll top center;
}
div#author {
  margin-top: 30px;
}
