<!DOCTYPE html>
{% include setup.yml %}
{% capture langstr %}{% if page.lang == nil %}en{% else %}{{ page.lang }}{% endif %}{% endcapture %}
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ langstr }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ langstr }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ langstr }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ langstr }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <link rel="openid.server" href="http://www.myopenid.com/server" />
  <link rel="openid.delegate" href="http://berkes.myopenid.com/" />
  <link rel="openid2.local_id" href="http://berkes.myopenid.com" />
  <link rel="openid2.provider" href="http://www.myopenid.com/server" />
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=berkes.myopenid.com" />

   <title>{{ page.title }}</title>
   <meta name="author" content="{{ site.author.name }}" />
   <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="your title" type="application/atom+xml" />
   <link rel="author" href="{{ BASE_PATH }}/humans.txt" type="text/plain" />
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
   <!-- Included CSS Files -->
   <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/foundation.css">
   <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/pygments.css">
   <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/app.css">

   <!--[if lt IE 9]>
   <link rel="stylesheet" href="{{ ASSET_PATH }}/stylesheets/ie.css">
   <![endif]-->

   <script src="{{ ASSET_PATH }}/javascripts/modernizr.foundation.js"></script>

   <!-- IE Fix for HTML5 Tags -->
   <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

   <!-- Fonts -->
   <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT" media="screen, projection, print">
</head>
<body>
	<!-- container -->
	<div class="container">
    <header>
      <div class="row">
        <a href="{{ HOME_PATH }}" title="Home">
          <img src="{{ ASSET_PATH }}/images/logo.png" alt="Logo" title="{{site.title}}" />
        </a>
      </div>

      <nav id="main" class="row">
        <div class="onion">
        <ul>
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.about_path }}">EN / About</a>
          </li>
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">EN / Articles</a>
          </li>
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.over_path }}">NL / Over</a>
          </li>
          <li>
          <a href="{{ BASE_PATH }}{{ site.JB.archief_path }}">NL / Artikelen</a>
          </li>
        </ul>
        </div>
      </nav>
    </header>
    <section id="main-content" class="row">
      {{ content }}
    </section>

    <footer class="main row">
      <div class="contact four columns">
        <p>
            {{ site.author.name }}<br />
            {{ site.tagline }}<br />
            <a href='mailto:{{ site.author.email }}'>{{ site.author.email }}</a>
          </p>
          <p>
            <a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
            <a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
          </p>
      </div>
      <div class="four columns">
        Copyright 2001-{{ site.time | date: "%Y" }}
        with a
        <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Atrribute-Share-alike 3.0 Unported license</a>
      </div>
      <div class="four columns">
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive (All English articles)</a> <br />
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.archief_path }}">Archief (Alle Nederlandse artikelen)</a> <br />
        <a class="extra" href="{{ BASE_PATH }}{{ site.JB.tags_path }}">Tags</a> <br />
        <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}"> RSS </a> <br />
      </div>
    </footer>
  </div>
  {% include tracker.yml %}
</body>
</html>
