---
layout: default
---
{% include JB/setup %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header> 
  <div class="body">
    {{ content }}
  </div>
  <footer>
    <p class="note">
    {% if page.lang == "nl" %}
      <em>Dit artikel verscheen op bler.webschuur.com. En is overgezet naar dit blog</em>
    {% else %}
      <em>This article was published on webschuur.com. And migrated to this blog. </em>
    {% endif %}
    </p>
    <time datetime="{{ page.date | date_to_xmlschema }}"
    pubdate="pubdate">
      Posted on {{ page.date | date_to_long_string }}
    </time>
    in
    {% if page.location %}{{ page.location }}{% endif %}
    {% unless page.tags == empty %}
      {% assign tags_list = page.tags %}
      {% include themes/berkes/tags_list.yml %}
    {% endunless %}
  </footer>
</article>

{% include JB/comments %}
