@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: normal;
  font-weight: 400;
  src: local('OFL Sorts Mill Goudy TT'), local('OFLGoudyStMTT'), url(http://themes.googleusercontent.com/static/fonts/oflsortsmillgoudytt/v4/9ZZVVBRCceNnPBXqWLH8IBaCi8XR2Wndwbau3-eaE1g.ttf) format('truetype');
}
